<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Email Domain Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <h1 id="findOut">Find Out How Secure An Email Domain Is</h1>

  <h2 id="analysisDetails">Analysis Details (DMARC, SPF Record List, chances of brand impersonation)</h2>

  <div id="domainForm">
    <form method="POST">
      <label for="domainSubmitted" id="formLabel">Enter Domain Name:</label>
      <input type="text" id="domainSubmitted" name="domainSubmitted" placeholder="example.com">
      <button type="submit" id="getResults">Analyze</button>
    </form>
  </div>

    {% if results %}
  		<div id="results">
  		<h2 id="h2results">Results for {{ results.domain }}</h2>

  		<div id="mainRow">
    		<!-- Overall Results -->
    		<div class="result-block">
      			<div id="overallResults">
        			<!-- Add chart or content here -->

					<!-- Adding values here, but would look better as chart -->

					<!-- Overall Score -->
					<p>{{ results.overallScore }}</p>

					<!-- Overall Messages -->
					{% for message in results.overallMessages %}
						<p>{{ message }}</p>
					{% endfor %}
					
      		</div>
      		<h3 id="h3overall">Overall Results</h3>
		</div>

    	<!-- Ratings side by side -->
    	<div id="ratingContainer">
      		<div class="rating-block">
        		<div id="dmarc">
          			<!-- DMARC chart -->

					<!-- Adding values here, but would look better as chart -->

					<!-- DMARC Score -->
					<p>{{ results.dmarcScore }}</p>

					<!-- DMARC Messages -->
					{% for message in results.dmarcMessages %}
						<p>{{ message }}</p>
					{% endfor %}

        		</div>
        		<h3 id="h3dmarc">DMARC</h3>
      		</div>
      		<div class="rating-block">
        		<div id="spf">
          			<!-- SPF chart -->

					<!-- Adding values here, but would look better as chart -->

					<!-- SPF Score -->
					<p>{{ results.spfScore }}</p>

					<!-- SPF Messages -->
					{% for message in results.spfMessages %}
						<p>{{ message }}</p>
					{% endfor %}

        		</div>
        		<h3 id="h3spf">SPF</h3>
      		</div>
      		<div class="rating-block">
        		<div id="brand">
          			<!-- Brand chart -->

					<!-- Adding values here, but would look better as chart -->

					<!-- Brand Score -->
					<p>{{ results.brandImpScore }}</p>

					<!-- Brand Messages -->
					{% for message in results.brandImpMessages %}
						<p>{{ message }}</p>
					{% endfor %}

        		</div>
        		<h3 id="h3brand">Brand</h3>
      		</div>
    	</div>
  		</div>
	</div>
	
	{% endif %}

</body>

</html>
